
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url("../myndir/hero-back.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-size: 30px;
   margin-top: 20%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
span{
    color: #ff004f;
}

/*------------about------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 35%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #af3d61;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-------portfolio---------*/

#portfolio{
 padding: 50px 0px;   
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#af3d61);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#af3d61;
    font-size: 18px;
    text-decoration: none;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 30%;
    text-align: center;
}

.layer:hover::after{
    height: 100%;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    background-color: #080808;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    transition: background-color .5s;
}

.button:hover{
    background-color: #ff004f;
}

/*-----------------contact-----------------*/

.contact-left{
    flex-basis: 35%;
    
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    font-size: 25px;
    margin-right: 10px;
    
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    margin-top: 20px;
}

.fa-facebook:hover{
    color: #1877F2;
    transform: translateY(-5px);
}

.fa-instagram:hover{
    color: #C13584;
    transform: translateY(-5px) ;
}
.fa-github:hover{
    color: #fff;
    transform: translateY(-5px);
}

.fa-discord:hover{
    color: #7289da;
    transform: translateY(-5px);
}

.umsokn{
    display: inline-block;
    padding: 14px 60px;
    font-size: 18px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .umsokn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}



/*-----------------sidur-----------------*/

.fa-github.om{
    font-size:xx-large;
    color: #fff;
    transition: transform 1s;
}
.fa-github.om:hover{
    font-size:xx-large;
    color: #fff;
}

.box {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5%;
}

.box:hover {
    background-color: #ddd;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
canvas {
    border: 1px solid black; 
}
canvas:hover {
    cursor: pointer; 
}

.button {
    margin: 1rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
/*------------fyrir mynni skjái----------*/
nav .fa-solid, ul img{
    display: none;
    font-size: 25px;
}
/* only screen and */
@media(max-width:600px){
    #header{
        background-image:url("../myndir/hero-back.png");
    
    }
    .hd-container {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    
    .box {
        width: 45%; /* Decrease the size on small screens */
        height: 45%;
        line-height: 100px;
        margin: 5px;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px; 
    }
    .header-text-h1{
        font-size: 30px;
    }
    nav .fa-solid, ul img{
        display: block;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid, ul img{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    

    }
    .sub-title{
        font-size: 40px;

    }
    .about-col-1 , .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .about-col-2{
        font-size: 15px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}

#msg{
    color: #1e915d;
    margin-top: -40px;
    display: block;
}